<!-- ========================== About Elements ============================= -->
<section>
    <div class="container">
        <div class="row align-items-center">

            <!-- Single Box -->
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="assets/img/about.png" alt="" class="img-fluid">
            </div>

            <!-- Single Box -->
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="about-captione">
                    <h6 class="text-blue">About FreeConnect</h6>
                    <h2>Short Story About FreeConnect<br>Job Service</h2>
                    <p>FreeConnect offers a seamless experience for freelancers 
                        and clients alike. It provides an easy-to-use platform where
                         job seekers can find work, and employers can connect with
                          skilled professionals. The platform aims to bridge the gap 
                          between freelancers and clients, creating opportunities for
                           success on both sides.</p>
                    <ul class="lists-3 mt-3">
                        <li>Easy-to-use platform for both freelancers and clients</li>
                        <li>Streamlined job search and recruitment process</li>
                        <li>Optimized for seamless user experience and satisfaction</li>
                    </ul>
                    <a href="#" class="btn dark-2 btn-rounded">Learn More</a>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- ========================== About Elements ============================= -->

<!-- ========================== About Elements ============================= -->
<section class="gray-light">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-9">
                <div class="sec-heading">
                    <h2>Power Success For <span class="theme-cl-2">Brand</span></h2>
                    <p>FreeConnect offers unparalleled opportunities for brands to succeed
                         by connecting them with top-tier freelancers and creative professionals.
                          Our platform enables brands to scale effortlessly, driving innovation and
                           boosting visibility through impactful collaborations and expert services.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="achievement-wrap">
                    <div class="achievement-content">
                        <div class="ache-icon purple"><i class="ti-agenda"></i></div>
                        <h4><span class="cto">9.8</span>M</h4>
                        <p>Listing Posted</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="achievement-wrap">
                    <div class="achievement-content">
                        <div class="ache-icon green"><i class="ti-user"></i></div>
                        <h4><span class="cto">200</span>K</h4>
                        <p>Total Authors</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="achievement-wrap">
                    <div class="achievement-content">
                        <div class="ache-icon yellow"><i class="ti-medall-alt"></i></div>
                        <h4><span class="cto">99</span>K</h4>
                        <p>Win Awards</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="achievement-wrap">
                    <div class="achievement-content">
                        <div class="ache-icon red"><i class="ti-face-smile"></i></div>
                        <h4><span class="cto">7.2</span>M</h4>
                        <p>Happy Clients</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- ========================== About Elements ============================= -->

<!-- ========================== About Elements ============================= -->
<section class="min-sec">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-9">
                <div class="sec-heading">
                    <h2>Our Professional <span class="theme-cl-2">Team</span></h2>
                    <p>Our team consists of highly skilled professionals dedicated to
                         delivering exceptional service and innovative solutions tailored to 
                         meet your unique needs.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Single -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="team-grid">
                    <div class="teamgrid-user">
                        <img src="assets/img/team-1.jpg" alt="" class="img-fluid">
                    </div>

                    <div class="teamgrid-content">
                        <h4>Med Aziz Ouerfelli</h4>
                        <span>App Designer</span>
                    </div>

                    <div class="teamgrid-social">
                        <ul>
                            <li><a href="#" class="f-cl" tabindex="0"><i class="ti-facebook"></i></a></li>
                            <li><a href="#" class="t-cl" tabindex="0"><i class="ti-twitter"></i></a></li>
                            <li><a href="#" class="i-cl" tabindex="0"><i class="ti-instagram"></i></a></li>
                            <li><a href="#" class="l-cl" tabindex="0"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Single -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="team-grid">
                    <div class="teamgrid-user">
                        <img src="assets/img/team-2.jpg" alt="" class="img-fluid">
                    </div>

                    <div class="teamgrid-content">
                        <h4>Med Aziz Foudhaili</h4>
                        <span>App Designer</span>
                    </div>

                    <div class="teamgrid-social">
                        <ul>
                            <li><a href="#" class="f-cl" tabindex="0"><i class="ti-facebook"></i></a></li>
                            <li><a href="#" class="t-cl" tabindex="0"><i class="ti-twitter"></i></a></li>
                            <li><a href="#" class="i-cl" tabindex="0"><i class="ti-instagram"></i></a></li>
                            <li><a href="#" class="l-cl" tabindex="0"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Single -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="team-grid">
                    <div class="teamgrid-user">
                        <img src="assets/img/team-3.jpg" alt="" class="img-fluid">
                    </div>

                    <div class="teamgrid-content">
                        <h4> Mahjoub Bgh</h4>
                        <span>App Designer</span>
                    </div>

                    <div class="teamgrid-social">
                        <ul>
                            <li><a href="#" class="f-cl" tabindex="0"><i class="ti-facebook"></i></a></li>
                            <li><a href="#" class="t-cl" tabindex="0"><i class="ti-twitter"></i></a></li>
                            <li><a href="#" class="i-cl" tabindex="0"><i class="ti-instagram"></i></a></li>
                            <li><a href="#" class="l-cl" tabindex="0"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
<!-- ========================== About Elements ============================= -->



<!-- ============================ Call To Action Start ================================== -->
<section class="call-to-act" style="background:#0b85ec url(assets/img/landing-bg.png) no-repeat">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-7 col-md-8">
                <div class="clt-caption text-center mb-4">
                    <h2 class="text-light">Subscribe Now!</h2>
                    <p class="text-light">Simple pricing plans. Unlimited web maintenance service</p>
                </div>
                <div class="inner-flexible-box subscribe-box">
                    <div class="input-group">
                        <input type="text" class="form-control large" placeholder="Enter your mail here">
                        <button class="btn btn-subscribe bg-dark" type="button"><i
                                class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ Call To Action End ================================== -->